body, html{
    color: #333;
    width: 100%;
}

header {
    position: fixed;
    top: 0px;
    z-index: 5;
    width: 100%;
    height: 85px;
    background-color: #26A69A;
    color: #fff;
}

ul{
    list-style-type: none;
}

img {
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

footer {
   background-color: #3EB1F1;
    height: 100%;
    text-align: center;
    font-family:'Lato', Arial, sans-serif;
    padding: 5px;
    color: #fff;
    font-size: 0.8rem;
}

footer i {
    color: crimson;
}

footer a {
    text-decoration: none;
    color: #fff;
}

#logo {
    float: left;
    margin-left: 20px;
    font-size: 1.8rem;
    font-weight: 300;
    font-family: 'Dancing Script', cursive;
}

#logo a {
    text-decoration: none;
    color: #fff;
}

#Home{
    position: relative;
    top: 80px;
    z-index: 0;
    text-align: center;
    font-family:'Lato', Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    height: 80vh;
    max-height: 500px;
    margin:0;
}

#Home h1 {
    font-size: 6rem;
}

#Home h3 {
    margin-top: -70px;
}

#socialIcons a {
    color: #333;
    padding:15px;
}

#aboutMe {
    position: relative;
    top: 80px;
    z-index: 0;
    width: 100%;
    height: 80vh;
    padding: 80px; 
    color: #ddd;
    background-color: #333;
    font-size: 1.2rem;
    font-weight: 300;
}

#aboutMe a{
    text-decoration: none;
    color: #ddd;
}

#aboutMe hr {
    position: absolute;
    left: 20px;
    width:450px;
}

#portfolio {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 950px;
    max-height: 500px;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 50px;
    
}

#portfolio h2 {
    text-align: center;
    padding-top: 20px;
}

#contactMe {
    position: relative;
    top: 30px;
    padding: 20px; 
    z-index: 0;;
    width: 100%;
    height: 80vh;
    max-height: 500px;
    background-color: #3EB1F1;
    font-size: 1.2rem;
    font-weight: 300;
    top: 16px;
    color: #fff;
}

#contactcont {
    width: 650px;
}

#max-width {
    width: 960px;
    margin: 0 auto;
    border: 1px solid blue;
    padding: 20px;
    padding-top: 100px;
}

#max-widths {
    width: 960px;
    margin: 0 auto;
    border: 1px solid blue;
    padding: 20px;
    margin-top: -50px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #222;
    display: block;
    width: 50%;
    font-size: 1.2rem;
    font-family:Monaco, monospace;
    margin: 0 0 20px;
}

fieldset {
    padding-left: 40px;
}

form {
    padding: 40px;
}

input[type="submit"]{
    height: 40px;
    padding:0 40px;
    border: none;
    margin-top: 10px;
}

textarea {
    resize: none;
}


.nav-links {
    float:right;
    font-weight: 300;
    font-size: 1.2rem;
    margin-right: 35px;
    margin-top: 20px;
    font-family: 'Lato', Arial, sans-serif;
    
}

.nav-links ul li{
    display: inline;
    padding-right:20px;
}

.nav-links ul li a {
    text-decoration: none;
    color: #fff;
}

.half-Col {
   display: table-cell;
}

.aboutContent {
    position:absolute;
    text-align: left;
    width: 48%;
    padding: 40px;
}

.selfImage {
    position: absolute;
    float: right;
    width: 48%;
    right: 20px;
    left: 750px;
    padding: 40px;
    
}

.row {
    display: table-cell;
    width: 100%;
    position: absolute;
    left: 250px;
}


.about {
    position: absolute;
    left: 0;
}

.test {
    width: 100%;
    margin: 0 auto;
}
.column-left{ 
    float: left; 
    width: 27.3%; 
    height: 250px;
    border: 1px solid #333;
    margin-right: 30px;
    background: url("/Images/calc.PNG");
    background-repeat: no-repeat;
}
.column-right{ 
    float: right; 
    width: 27.3%; 
    height: 250px;
    border: 1px solid #333;
    margin-right: 30px;
}
.column-center{ 
    display: inline-block; width: 27.3%;
    height: 250px;
    border: 1px solid #333;
    margin-left: 50px;
}


